<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Hướng dẫn đặt sách</title>
    <link rel="stylesheet" href="/css/users/guide.css">
</head>
<body>
<main layout:fragment="content">
    <div class="guide-container">
        <h1>Hướng dẫn đặt sách tại JBooks</h1>
        <ol class="guide-list">
            <li>
                <h2>Chọn Sách</h2>
                <p>Bạn có thể tìm kiếm sách theo các danh mục được cung cấp trên trang chủ hoặc sử dụng thanh tìm kiếm để tìm sách cụ thể.</p>
            </li>
            <li>
                <h2>Thêm vào giỏ hàng</h2>
                <p>Sau khi tìm thấy sách mong muốn, click vào 'Giỏ hàng' để thêm sách vào giỏ hàng của bạn.</p>
            </li>
            <li>
                <h2>Xem giỏ hàng và điều chỉnh</h2>
                <p>Xem lại các mục trong giỏ hàng của bạn, điều chỉnh số lượng sách nếu cần thiết. Sau đó nhấn "Thanh toán ngay".</p>
            </li>
            <li>
                <h2>Kiểm tra thông tin giao hàng</h2>
                <p>Kiểm tra thông tin giao hàng bao gồm địa chỉ, số điện thoại. Đảm bảo thông tin chính xác để nhận sách một cách nhanh chóng.</p>
            </li>
            <li>
                <h2>Thanh toán</h2>
                <p>Chọn hình thức thanh toán và điền thông tin cần thiết. Bạn có thể lựa chọn giữa thanh toán khi nhận hàng hoặc chuyển khoản. Sau khi hoàn tất quá trình kiểm tra thì nhấn "Đặt hàng"</p>
            </li>
            <li>
                <h2>Xác nhận và nhận sách</h2>
                <p>Sau khi hoàn tất quá trình thanh toán, đơn hàng của bạn sẽ được xử lý. Bạn có thể xem thông tin đơn hàng của mình trong mục đơn hàng.</p>
            </li>
        </ol>
        <p>Nếu có thắc mắc, xin liên hệ qua số điện thoại hoặc email được cung cấp ở trang chủ.</p>
    </div>
</main>
</body>
</html>
