.container {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.book-list h2, .featured-books h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.book-grid {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
}

.book-card {
    background-color: white;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: calc(30% - 20px);
    position: relative;
}

.book-card .discount {
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: #ff3d00;
    color: white;
    padding: 3px 5px;
    border-radius: 5px;
    font-size: 12px;
}

.book-image {
    background-color: #f0f0f0;
    height: 200px;
    margin-bottom: 15px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.book-image img {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.book-info h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.ratings {
    margin-bottom: 10px;
}

.price {
    font-size: 14px;
}

.current-price {
    color: red;
    font-weight: bold;
    margin-right: 10px;
}

.original-price {
    color: #999;
    text-decoration: line-through;
}

.filters {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.filters span {
    cursor: pointer;
    padding: 5px 10px;
    border-radius: 5px;
    color: #666;
}

.filters .filter-active {
    background-color: black;
    color: white;
}

.featured-books {
    margin-top: 40px;
    background-color: #f5f5f5;
    padding: 20px;
    border-radius: 8px;
}

.coming-soon {
    color: blue;
    font-weight: bold;
}

.no-books-message {
    margin: 40px 0;
    text-align: center;
    font-size: 18px;
    color: #555;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 10px;
}

.pagination ul li {
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 8px 12px;
}

.pagination ul li a {
    text-decoration: none;
    color: #333;
    font-size: 14px;
}

.pagination ul li a:hover {
    background-color: #f0f0f0;
    color: #000;
}

.pagination ul li.active {
    background-color: black;
    color: white;
}

.pagination ul li.active a {
    color: white;
}

.pagination ul li.disabled a {
    color: #aaa;
    pointer-events: none;
}
