.container {
    display: flex;
}

.content {
    flex-grow: 1;
    padding: 20px;
}

.tabs {
    display: flex;
    margin-bottom: 20px;
    justify-content: space-around;
}

.tabs a {
    padding: 10px 20px;
    margin-right: 10px;
    text-decoration: none;
    color: #333;
    background-color: #ffffff;
    border-radius: 4px;
}

.tabs a.active {
    color: #ff5722;
    border-bottom: 3px solid #ff5722;
}

.tabs a:hover {
    color: #ff5722;
}

.order {
    background-color: white;
    margin-bottom: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    overflow: hidden;
}

.order-header, .order-footer {
    background-color: #f5f5f5;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-footer .total {
	text-align: right;
	color: #ff5722;
	font-weight: 600;
}

.order-status {
	color: #ff5722;
	font-weight: bold;
}

.order-body {
    padding: 10px;
}

.order-item {
	display: flex;
    align-items: center;
}

.order-item img {
    width: 100px;
    height: 100px;
    margin-right: 20px;
}

.item-info {
	display: flex;
	justify-content: space-between;
    width: 100%
}

.item-info h3 {
    margin: 0;
    font-size: 16px;
}

.item-info p {
    margin: 5px 0;
    color: #555;
}

.btn {
    background-color: #ff5722;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #e64a19;
}

.no-orders-message {
    text-align: center;
    font-size: 18px;
    color: #555;
}

.text-center {
    display: flex;
    justify-content: center;
    align-items: center;
}


